<header>
    <div class="top-bar">
        <div class="logo">
            <img src="../../../assets/LOGO-EJEMPLO.png" alt="LOGO-EJEMPLO">
        </div>
        <div class="text-container">
            <h1>Junta De Accion Comunal</h1>
            <h3>Planeta Rica / La Inmaculada</h3>
        </div>
    </div>
</header>

<div class="container">
    <br>
    <ul class="nav justify-content-center nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/quienes-somos" routerLinkActive="active">Quiénes Somos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" >Proyectos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" >Atencion al ciudadano</a>
        </li>

    </ul>
</div>