
<div class="container">

    <div class="content ">
        <h1>QUINES SOMOS</h1>
        <p>La Junta de Acción Comunal del Barrio La Inmaculada, ubicada en el municipio de Planeta Rica, Córdoba, es una organización comunitaria comprometida con el bienestar y el desarrollo integral de nuestra comunidad.</p>
        <p>En la Junta de Acción Comunal del Barrio La Inmaculada, nos regimos por valores como la transparencia, la honestidad y el compromiso con el bien común. Nos esforzamos por fomentar la participación activa de todos los residentes y promover un ambiente de respeto y solidaridad entre vecinos.</p>
        <p>Nuestro compromiso con la comunidad se refleja en las diversas actividades y proyectos que realizamos, desde programas de mejoramiento del entorno hasta iniciativas sociales y culturales que promueven la integración y el desarrollo personal de nuestros habitantes.</p>
    </div>

    <div class="submenu">
        <ul>
            <li>
                <a routerLink="mision y vision">Mision y Vision</a>
            </li>
            <li>
                <a routerLink="funciones">Funciones</a>
            </li>
            <li>
                <a routerLink="funciones">Mas...</a>
            </li>
        </ul>
    </div>

</div>